# Metadata related values

## Organization related values
organization_name: ${ORGANIZATION_NAME:testOrgName}
organization_url: ${ORGANIZATION_URL:http://localhost:8080}
organization_display_name: ${ORGANIZATION_DISPLAY_NAME:testOrgDisplayName}
## ContactPerson related values
contact_person_email_address: ${CONTACT_PERSON_EMAIL_ADDRESS:test@mail.it}
contact_person_telephone_number: ${CONTACT_PERSON_TELEPHONE_NUMBER:+39333}
contact_person_company: ${CONTACT_PERSON_COMPANY:testOrgName}
contact_person_given_name: ${CONTACT_PERSON_GIVEN_NAME:test}

metadata_url: ${METADATA_URL:http://localhost:8080/saml/metadata}
service_provider_uri: ${SERVICE_PROVIDER_URI:http://localhost:8080/pub-ag-full}
acs_url: ${ACS_URL:http://localhost:8080/saml/acs}
slo_url: ${SLO_URL:http://localhost:8080/saml/slo}
#

# SSM related values
certificate_name: ${CERTIFICATE_NAME:cert.pem}
key_name: ${KEY_NAME:key.pem}

# Test related values
'%test':
  acs_url: https://dev.oneid.pagopa.it/saml/acs
  service_provider_uri: https://dev.oneid.pagopa.it
