{#include layout.html}
{#title}Consenso · PagoPA S.p.A.{/title}
{#meta-content}Modulo di Login Internal IDP One Identiy{/meta-content}
{#body}
<form action="{consentAction}" id="consent-form" method="POST" class="md-card consent">

  <div class="md-title-container">
    <div class="md-title">
      <span class="material-icons">admin_panel_settings</span>
      <span>Consenso all'invio dei dati</span></div>
    <div class="md-subtitle">Per continuare, è necessario fornire il consenso all'invio dei dati
      personali.
    </div>
  </div>

  {#if dataList}
  <ul class="md-list">
    {#for data in dataList}
    <li>{data}</li>
    {/for}
  </ul>
  {/if}

  <input type="hidden" name="authnRequestId" value="{authnRequestId}">
  <input type="hidden" name="clientId" value="{clientId}">
  <input type="hidden" name="username" value="{username}">

  <div class="md-btn-row btn-loading-action-container">
    <button name="consent" type="submit" value="false" class="mdc-button mdc-button--outlined btn-xl mdc-button--icon-leading deny-outlined-button btn-loading-action">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">cancel</i>
      <span class="mdc-button__label">Nego il consenso</span>
      <span class="loader danger"></span>
    </button>
    <button name="consent" type="submit" value="true" class="mdc-button mdc-button--unelevated btn-xl login-btn mdc-button--leading btn-loading-action">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">check_circle</i>
      <span class="mdc-button__label">Do il consenso</span>
      <span class="loader"></span>
    </button>
  </div>
</form>
{/body}
{/include}

