<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8"/>
  <meta content="noindex" name="robots"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="no-cache" http-equiv="cache-control"/>
  <meta content="0" http-equiv="expires"/>
  <meta content="no-cache" http-equiv="pragma"/>
  <meta content="{#insert meta-title}{/insert}" name="description"/>
  <meta content="#00a1b0" name="theme-color"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{#insert title}{/insert}</title>
  <!-- material fonts and icon -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- material ui design-->
  <link href="/style/mdc.min.css" rel="stylesheet" />
  <script src="/js/mdc.min.js" rel="stylesheet"></script>
  <script type="module" src="/js/mdc-web.js"></script>
  <!--custom styles-->
  <link rel="stylesheet" href="/style/styles.css">
  <!-- custom scripts -->
  <script src="/js/scripts.js"></script>
  <!-- favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.svg">
</head>

<body>
<noscript>Abilita JavaScript per utilizzare quest'applicazione</noscript>
<main id="root">
  {#insert body}{/insert}
</main>
</body>

</html>