<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8"/>
  <meta content="noindex" name="robots"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="no-cache" http-equiv="cache-control"/>
  <meta content="0" http-equiv="expires"/>
  <meta content="no-cache" http-equiv="pragma"/>
  <meta content="{#insert meta-title}{/insert}" name="description"/>
  <meta content="#00a1b0" name="theme-color"/>
  <title>{#insert title}{/insert}</title>
  <link rel="stylesheet" href="/style/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
</head>

<body>
<noscript>Abilita JavaScript per utilizzare quest'applicazione</noscript>
<main id="root">
  {#insert body}{/insert}
</main>
</body>

</html>