{#include layout.html}
{#title}Accedi · PagoPA S.p.A.{/title}
{#meta-content}Modulo di Login Internal IDP One Identiy{/meta-content}
{#body}
<form action="{loginAction}" id="login-form" method="POST" class="md-card"
      style="align-items: center;">
  <div class="md-title">Accedi</div>
  <div class="md-field" style="width: 100%;">
    <input id="username" name="username" required type="text" class="md-input" placeholder=" "
           value="" autocomplete="username"/>
    <label for="username" class="md-label">Username</label>
  </div>
  <div class="md-field">
    <input id="password" name="password" required type="password" class="md-input" placeholder=" "
           autocomplete="current-password"/>
    <label for="password" class="md-label">Password</label>
  </div>
  <input type="hidden" name="authnRequestId" value="{authnRequestId}">
  <input type="hidden" name="clientId" value="{clientId}">
  <button class="md-btn" type="submit">Login</button>
</form>
{/body}
{/include}
