:root {
  --md-sys-color-primary: #0073E6;
  --md-sys-color-primary-dark: #0062C3;
  --md-sys-color-primary-light: #2185E9;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-secondary: #00C5CA;
  --md-sys-color-secondary-dark: #00A7AC;
  --md-sys-color-secondary-light: #21CDD1;
  --md-sys-text-color-primary: #17324D;
  --md-sys-text-color-secondary: #5C6F82;
  --md-sys-color-surface: #F2F2F2;
  --md-sys-color-on-surface: #17324D;
  --md-sys-color-paper: #fff;
  --md-sys-danger-color: #d32f2f;

  --md-sys-color-outline: #6f797b;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-typescale-title-large: 22px;
  --md-sys-typescale-body-large: 16px;
}

body {
  margin: 0;
  background: var(--md-sys-color-surface);
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--md-sys-color-on-surface);
}

#root {
  height: 100vh;
  align-content: center;
}

.md-card {
  max-width: 450px;
  margin: 10px auto;
  padding: 32px 28px 24px 28px;
  background: var(--md-sys-color-paper);
  border-radius: var(--md-sys-shape-corner-medium);
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.md-title {
  font-size: var(--md-sys-typescale-title-large);
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 0.1px;
}
.md-subtitle {
  color: var(--md-sys-text-color-secondary);
  font-weight: 500;
}
.md-title-container {
  margin-bottom: 32px;
  align-self: start;
}

.input-container {
  width: 100%;
}
.mdc-text-field.extended {
  width: 100%!important;
}

.btn-container{
  width: 100%;
  margin-top: 14px;
}
.mdc-button {
  text-transform: none!important;
  border-radius: var(--md-sys-shape-corner-medium)!important;
  font-weight: 600!important;
  font-size: 1rem !important;
  letter-spacing: 0.3px !important;
}
.mdc-button.btn-xl {
  height: 48px !important;
  line-height: 48px !important;
  padding: 0 14px !important;
  width: 100% !important;
}
.mdc-button:not(.mdc-button--outlined):hover {
  background-color: var(--md-sys-color-primary-dark)!important;
}
.cancel-btn {
  margin-top: 12px;
}
.deny-outlined-button {
  --mdc-theme-primary: var(--md-sys-danger-color);
  --mdc-theme-on-primary: white;
}
.md-btn-row {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.consent .md-title-container {
  margin-bottom: 0px;
}
.consent .md-title span {
  vertical-align: middle;
}

.md-list {
  margin-bottom: 24px;
  margin-top: 24px;
  padding-left: 20px;
  font-size: var(--md-sys-typescale-body-large);
}

.error .md-title {
  font-size: 40px !important;
}
.error .md-subtitle {
  font-size: 20px !important;
}
.error .md-title-container{
  margin-bottom: 24px;
}

.error-banner {
  display: flex;
  align-items: center;
  background-color: #fef0f1;
  padding: 16px 24px;
  border-radius: 4px;
  max-width: 600px;
  margin: 0 auto;
  border-left: 4px solid rgb(254, 102, 102);
}
.error-banner .material-icons {
  margin-right: 12px;
  font-size: 24px;
}
.error-message {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 8px;
  margin-bottom: 6px;
}

.mdc-top-app-bar.light {
  background-color: var(--md-sys-color-paper);
  border-bottom: 1px solid rgb(227, 231, 235) !important;
}
.mdc-top-app-bar-logo {
  height: 24px;
  vertical-align: middle;
}

button.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 9px;
  display: none;
}
.loader.danger {
  border: 3px solid var(--md-sys-danger-color);
  border-bottom-color: transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* mobile optimization */
@media (max-width: 550px) {
  .md-card {
    margin: 10px 10px;
  }
  .md-btn-row {
    flex-direction: column
  }
}