services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /tmp"
    image: "amazon/dynamodb-local:latest@sha256:d7ebddeb60fa418bcda218a6c6a402a58441b2a20d54c9cb1d85fd5194341753"
    container_name: dynamodb-local
    user: root
    ports:
      - "8000:8000"
    working_dir: /home/dynamodblocal
  dynamo-import:
    depends_on:
      - dynamodb-local
    links:
      - dynamodb-local
    image: amazon/aws-cli
    volumes:
      - ${PWD}/docker_mock/gsi.json:/home/dynamodblocal/gsi.json
      - ${PWD}/docker_mock/batchDynamo.json:/home/dynamodblocal/batchDynamo.json
    container_name: dynamo-import
    entrypoint: ["/bin/sh", "-c"]
    environment:
      AWS_ACCESS_KEY_ID: "DUMMYIDEXAMPLE"
      AWS_SECRET_ACCESS_KEY: "DUMMYEXAMPLEKEY"
    command:
      - |
        sleep 3
        aws dynamodb create-table --table-name ClientRegistrations --attribute-definitions AttributeName=clientId,AttributeType=S --key-schema AttributeName=clientId,KeyType=HASH --provisioned-throughput ReadCapacityUnits=5,WriteCapacityUnits=5 --endpoint-url http://dynamodb-local:8000 --region eu-south-1
        aws dynamodb create-table --table-name Sessions --attribute-definitions AttributeName=samlRequestID,AttributeType=S AttributeName=recordType,AttributeType=S --key-schema AttributeName=samlRequestID,KeyType=HASH AttributeName=recordType,KeyType=RANGE --provisioned-throughput ReadCapacityUnits=5,WriteCapacityUnits=5 --endpoint-url http://dynamodb-local:8000 --region eu-south-1
        aws dynamodb create-table --table-name IDPMetadata --attribute-definitions AttributeName=entityID,AttributeType=S AttributeName=pointer,AttributeType=S --key-schema AttributeName=entityID,KeyType=HASH AttributeName=pointer,KeyType=RANGE --global-secondary-indexes file:///home/dynamodblocal/gsi.json --provisioned-throughput ReadCapacityUnits=5,WriteCapacityUnits=5 --endpoint-url http://dynamodb-local:8000 --region eu-south-1
        aws dynamodb batch-write-item --request-items file:///home/dynamodblocal/batchDynamo.json --endpoint-url http://dynamodb-local:8000 --region eu-south-1
        aws dynamodb list-tables --endpoint-url http://dynamodb-local:8000 --region us-south-1
  oneid-ecs-core:
    build:
      context: ./
      dockerfile: oneid-ecs-core/Dockerfile
      args:
        ENVIRONMENT: local
    container_name: oneid-ecs-core
    ports:
      - "8080:8080"
    depends_on:
      - "dynamo-import"
    links:
      - "dynamodb-local"
    environment:
      AWS_ACCESS_KEY_ID: "DUMMYIDEXAMPLE"
      AWS_SECRET_ACCESS_KEY: "DUMMYEXAMPLEKEY"
      REGION: "eu-south-1"
      QUARKUS_DYNAMODB_ENDPOINT_OVERRIDE: "http://dynamodb-local:8000"
      QUARKUS_PROFILE: dev
  oneid-lambda-service-metadata:
    build:
      context: ./
      dockerfile: oneid-lambda-service-metadata/Dockerfile
    container_name: oneid-lambda-service-metadata
    volumes:
      - mvncache:/jboss/.m2
    ports:
      - "8082:8080"
    depends_on:
      - "dynamo-import"
    links:
      - "dynamodb-local"
    environment:
      AWS_ACCESS_KEY_ID: "DUMMYIDEXAMPLE"
      AWS_SECRET_ACCESS_KEY: "DUMMYEXAMPLEKEY"
      REGION: "eu-south-1"
      QUARKUS_DYNAMODB_ENDPOINT_OVERRIDE: "http://dynamodb-local:8000"
      QUARKUS_PROFILE: dev
  oneid-lambda-client-registration:
    build:
      context: ./
      dockerfile: oneid-lambda-client-registration/Dockerfile
    container_name: oneid-lambda-client-registration
    volumes:
      - mvncache:/jboss/.m2
    ports:
      - "8081:8080"
    depends_on:
      - "dynamo-import"
    links:
      - "dynamodb-local"
    environment:
      AWS_ACCESS_KEY_ID: "DUMMYIDEXAMPLE"
      AWS_SECRET_ACCESS_KEY: "DUMMYEXAMPLEKEY"
      REGION: "eu-south-1"
      QUARKUS_DYNAMODB_ENDPOINT_OVERRIDE: "http://dynamodb-local:8000"
      QUARKUS_PROFILE: dev
  spid-saml-check:
    image: "italia/spid-saml-check:1.10.6@sha256:3c659836344b743f8e1f66d01b0fd336a8893386959a87173fc92d9966a9a289"
    ports:
      - "8443:8443"
volumes:
  mvncache:
