name: Build and Deploy Lambda Hello Java

on:
    push:
      branches:
        - "main"
      paths:
        - "**/src/hello-java/**"
    workflow_dispatch:
      inputs:
        environment:
          description: 'Choose environment'
          type: choice
          required: true
          default: dev
          options:
          - dev
jobs:
    build:
      runs-on: ubuntu-22.04

      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
     
      - name: Setup Gradle 8.5
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.5
        
      - name: Build with Gradle
        run: gradle build
        working-directory: src/hello-java

      - name: Debug
        run: |
          ls -lrt src/hello-java/build/distributions

      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: hello-java
          path: src/hello-java/build/distributions/*.zip
      
    deploy:
      runs-on: ubuntu-22.04
      needs: build
      environment: dev
      permissions:
        id-token: write
        contents: read
  
      steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: hello-java
          path: ./src/hello-java/build/distributions

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ vars.IAM_ROLE_DEPLOY_LAMBDA }}
          aws-region: ${{ vars.AWS_REGION }}
      
      - name: Debug
        run: ls -l ./src/hello-java/build/libs

      - name: Deploy Lambda function
        run: |
            aws lambda update-function-code \
            --function-name oneid-es-1-d-metadata \
            --zip-file fileb://src/hello-java/build/distributions/hello-java-1.0.zip