name: Deploy Lambda assertion

on:
    push:
      branches:
        - "main"
      paths:
        - "**/src/oneid/oneid-lambda-assertion/**"
        - "**/src/oneid/oneid-common/**"
    workflow_dispatch:
      inputs:
        environment:
          description: 'Choose environment'
          type: choice
          required: true
          default: dev
          options:
          - dev
jobs:
    build:
      runs-on: ubuntu-22.04

      steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      
      - name: Zip Lambda  
        run: mkdir -p ./src/oneid/oneid-lambda-assertion/target && zip -r9 ./src/oneid/oneid-lambda-assertion/target/assertion-lambda.zip ./src/oneid/oneid-lambda-assertion/*
    
      - name: Archive build artifacts
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
        with:
          name: assertion-lambda
          path: ./src/oneid/oneid-lambda-assertion/target/assertion-lambda.zip

      - name: List build artifacts
        run: | 
          ls -l ./src/oneid/oneid-lambda-assertion/target     

    deploy:
      runs-on: ubuntu-22.04
      needs: build
      environment: dev
      permissions:
        id-token: write
        contents: read
  
      steps:
      - name: Download build artifacts
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e
        with:
          name: assertion-lambda
          path: ./src/oneid/oneid-lambda-assertion/target

      - name: List build artifacts
        run: | 
          ls -l ./src/oneid/oneid-lambda-assertion/target   

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ vars.IAM_ROLE_DEPLOY_LAMBDA }}
          aws-region: ${{ vars.AWS_REGION }}
   
     # - name: Deploy Lambda function
      #  run: |
       #     aws lambda update-function-code \
       #     --function-name oneid-es-1-d-assertion \
        #    --zip-file fileb://src/oneid/oneid-lambda-assertion/assertion-lambda.zip