name: Switch region to eu-central-1

on:
  workflow_dispatch: # Manual trigger

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
    
jobs:
  change-record-set:
    runs-on: ubuntu-latest
    env:
      ECS_CLUSTER_NAME: oneid-ec-1-p-ecs
      ECS_SERVICE_NAME: oneid-ec-1-p-core 
    environment: "prod/eu-central-1"

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ vars.IAM_ROLE_SWITCH_REGION }}
          aws-region: "eu-central-1"

      - name: Update ECS autoscaling
        run: |
         aws application-autoscaling register-scalable-target \
         --service-namespace ecs \
         --scalable-dimension ecs:service:DesiredCount \
         --resource-id service/$ECS_CLUSTER_NAME/$ECS_SERVICE_NAME \
         --min-capacity 40 --max-capacity 80 \
         --region eu-central-1


      - name: Update ECS Service
        id: update_service
        run: |
         aws ecs update-service \
         --cluster $ECS_CLUSTER_NAME \
         --service $ECS_SERVICE_NAME \
         --desired-count 40 \
         --region eu-central-1

      - name: Wait for ECS Service to stabilize
        run: |
          # Wait for the service to stabilize
          aws ecs wait services-stable --cluster $ECS_CLUSTER_NAME --services $ECS_SERVICE_NAME

      - name: Change Route 53 Record Set
        run: |
          aws route53 change-resource-record-sets \
          --hosted-zone-id Z065844519UG4CA4QH19U \
            --change-batch '{
               "Changes": [{
                  "Action": "UPSERT",
                    "ResourceRecordSet": {
                       "Name": "oneid.pagopa.it",
                       "Type": "A",
                       "AliasTarget": {
                          "HostedZoneId": "Z1U9ULNL0V5AJ3",
                          "DNSName": "d-00itlmb801.execute-api.eu-central-1.amazonaws.com",
                          "EvaluateTargetHealth": false
                       }
                   }
               }]
            }'