name: Terraform Plan

on:
  workflow_dispatch:
  push:
    branches:
      - '**'        # matches every branch
      - '!main'     # excludes main
    paths:
      - 'src/infra/**'
      - '!src/infra/**/*.md'
    
defaults:
  run:
    shell: bash

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  terraform:
    name: "terraform-plan-${{ matrix.environment }}-${{ matrix.region }}"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - environment: dev
            region: eu-south-1          
          - environment: uat
            region: eu-south-1
          - environment: prod
            region: eu-south-1          
          #- environment: prod
          #  region: eu-central-1

    environment: ${{ matrix.environment }}
    
    env:
      WORKING_DIR: src/infra/${{ matrix.environment }}/${{ matrix.region }}
      AWS_REGION: eu-south-1
     
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Plan
        uses: ./.github/workflows/plan
        with:
          working-directory: ${{ env.WORKING_DIR }}
          region: ${{ matrix.region }}
          iam_role: ${{ vars.IAM_ROLE_IAC }}
