name: Terraform Plan

on:
  push:
    paths:
      - 'src/infra/global/**'
defaults:
  run:
    shell: bash
    working-directory: src/infra/global

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  terraform:
    strategy:
      matrix:
        environment: ["dev"]
        

    name: "terraform-plan"
    runs-on: ubuntu-22.04
    environment: ${{ matrix.environment }}
     
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ inputs.IAM_ROLE }}
          aws-region: "eu-south-1"
      
      - name: Plan
        uses: ./.github/workflows/plan
        with:
          env: ${{ matrix.environment }}
          working-directory: src/infra/global          
