name: Upload Metadata
on:
  push:
    branches:
      - "main"
    paths:
      - "**/src/oneid/metadata/**"
      - ".github/workflows/upload-metadata.yml"

jobs:
  setup:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.setmatrix.outputs.matrix }}

    steps:
      - name: Set Dynamic Env Matrix
        id: setmatrix
        run: |
          echo "github.ref $GITHUB_REF"
          echo "event name $EVENT_NAME"
          
          matrixStringifiedObject="{\"include\":[{\"environment\":\"dev\", \"region\":\"eu-south-1\"}, {\"environment\":\"uat\", \"region\":\"eu-south-1\"}, {\"environment\":\"prod\", \"region\":\"eu-south-1\"}, {\"environment\":\"prod\", \"region\":\"eu-central-1\"}]}"

          echo "matrix=$matrixStringifiedObject" >> $GITHUB_OUTPUT
        env:
          GITHUB_REF: ${{ github.ref }}
          EVENT_NAME: ${{ github.event_name }}


  upload:
    name: Upload to S3
    if: ${{ needs.setup.outputs.matrix != '' }}
    needs: setup
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}

    continue-on-error: false
    environment: ${{ matrix.environment == 'prod' && format('{0}/{1}', matrix.environment, matrix.region) || matrix.environment }}
    env:
      AWS_REGION: ${{ matrix.region }}
      ENV_SHORT: ${{ fromJSON('{"dev":"d","uat":"u","prod":"p"}')[matrix.environment] }}
      REGION_SHORT: ${{ fromJSON('{"eu-south-1":"es-1","eu-central-1":"ec-1"}')[matrix.region] }}

    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          fetch-depth: 0

      # Configure AWS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@50ac8dd1e1b10d09dac7b8727528b91bed831ac0 # v3
        with:
          role-to-assume: ${{ vars.IAM_ROLE_UPLOAD_S3 }}
          aws-region: ${{ matrix.region }}

      - name: Identify changed file
        if: ${{ matrix.environment == 'prod' }}
        id: changed-file
        run: |
          echo "changed_files=$(git diff --name-only $BEFORE $AFTER | xargs)" >> $GITHUB_OUTPUT
        env:
          BEFORE: ${{ github.event.before }}
          AFTER: ${{ github.event.after }}

      - name: Upload changed files to S3 (${{ matrix.environment }})
        if: ${{ matrix.environment == 'prod' }}
        run: |
          for file in $CHANGED_FILES; do
              if [[ -f $file && ! $file == */test/*  && $file == *.xml ]]; then
                aws s3 cp $file $IDP_BUCKET_PATH/$(basename "$file")
              fi
          done
        env:
          CHANGED_FILES: ${{ steps.changed-file.outputs.changed_files }}
          IDP_BUCKET_PATH: ${{ vars.IDP_BUCKET_PATH }}

      - name: Take all test-idp files
        if: ${{ matrix.environment != 'prod' }}
        id: test-files
        working-directory: src/oneid/metadata/test/${{ matrix.environment }}
        run: |
          echo "test_files=$(find . -type f \( -name "spid.xml" -o -name "cie.xml" \) | xargs)" >> $GITHUB_OUTPUT

      # Upload Test files to S3
      - name: Upload test files to S3 (${{ matrix.environment }})
        if: ${{ matrix.environment != 'prod' }}
        working-directory: src/oneid/metadata/test/${{ matrix.environment }}
        run: |
          for file in $TEST_FILES; do
              if [[ $file == *.xml ]]; then
                aws s3 cp $(basename "$file") $IDP_BUCKET_PATH"/$(basename "${file%.xml}")-$(date +%s).xml"
              fi
          done
        env:
          TEST_FILES: ${{ steps.test-files.outputs.test_files }}
          IDP_BUCKET_PATH: ${{ vars.IDP_BUCKET_PATH }}